/* Global variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
  }
/* End of Global variables */

/* Global rules */
*{
    -webkit-box-sizing: border-box;
    
}